.bubble{
    position: absolute;
    margin-top: 0.2rem;
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
    border-radius: 1rem;
    border: 2px solid #ebd2a4;
    box-shadow: inset 0 0 8px  #fff;
    background-color: #fed2ca;
    opacity: 0.9;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bubble-fig {
    position: absolute;
    height: 20vmin;
    margin-top: 0.2rem;
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
    border-radius: 1rem;
    border: 2px solid #ebd2a4;
    box-shadow: inset 0 0 8px  #fff;
    animation: flutter 10s infinite;
    opacity: 0.9;
}
@keyframes flutter {
    0%{
        transform: translateX(30px);
        bottom: 10px;
        opacity: 1;
    }
    50%{
        transform: translateX(100px);
        opacity: 0.5;
    }


    100%{
        transform: translateX(200px);
        bottom: 100%;
        opacity: 0;

    }
}